.description .container {
  padding-top: 176px;
  padding-bottom: 72px;
  margin-bottom: 132px;
  background: url("../../img/penguins.jpg") 87.2% 90% no-repeat;
  background-size: 41%;

  @include vp-1023 {
    padding-top: 64px;
    background-size: 42.2%;
    background-position: 88.8% 38.9%;
    padding-bottom: 20px;
    margin-bottom: 73px;
  }
}

.description h2 {
  margin: 0;
  margin-bottom: 24px;

  @include font-settings (600, 28px, 1.5, $tangaroa);

  @include vp-1023 {
    max-width: 300px;
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 16px;
  }
}

.description p {
  margin: 0;
  max-width: 46%;

  @include font-settings (400, 16px, 1.5, $tangaroa);

  @include vp-1023 {
    max-width: 324px;
  }
}
