.footer {
  background-color: $tangaroa;
  min-height: 138px;
}

.footer .container {
  display: flex;
  padding-top: 50px;
}

.footer__logo {
  margin-right: 40px;
}

.footer__nav {
  margin-right: auto;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.footer__socials-item:not(:last-child) {
  margin-right: 28px;
}
